<div>
  <h1>
    Angular ngx-socket-io example
  </h1>

  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Temperature</th>
        <th>Humidity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="data | async as sensor"  >
        <td>
          {{ sensor[0] }}
        </td>
        <td>{{ sensor[1] }}</td>
        <td>{{ sensor[2] }} {{ sensor[3] }} </td>
       
      </tr>
    </tbody>
  </table>
 
</div>
 
 <hr>
 <button style= "background-color: #d27569;" (click)="bajarNumero()"> OPCION 2 </button>

